.footer {
  padding: 60px 15px;
}
.footer .accordion {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
}
.footer .accordion .accordion-item {
  width: 100%;
}
.footer .accordion .accordion-item .accordion-item__trigger {
  padding-bottom: 15px;
  border-bottom: 1px solid #383838;
  display: flex;
  justify-content: space-between;
}
.footer .accordion .accordion-item .accordion-item__trigger .accordion-item__header {
  font-size: 14px;
  font-weight: 400;
}
.footer .accordion .accordion-item .accordion-item__trigger .plus {
  transition: all 0.2s;
  display: inline-block;
  width: 2px;
  height: 15px;
  background-color: #fff;
  margin-right: -1px;
}
.footer .accordion .accordion-item .accordion-item__trigger .minus {
  display: inline-block;
  width: 16px;
  height: 2px;
  background-color: #fff;
  margin: 0 0 6px -13px;
}
.footer .accordion .accordion-item .accordion-item__content {
  display: none;
}
.footer .accordion .accordion-item .accordion-item__content .accordion-item__list {
  font-size: 14px;
  color: #fff;
  text-decoration: underline;
}
.footer .accordion .accordion-item .accordion-item__content .accordion-item__list li {
  list-style-type: none;
  margin-top: 20px;
}
.footer .accordion .accordion-item--active .accordion-item__trigger .plus {
  transition: all 0.2s;
  height: 2px;
  margin: 0 0 6px -13px;
}
.footer .accordion .accordion-item--active .accordion-item__content {
  display: block;
}
.footer .social-media {
  margin-top: 60px;
  display: flex;
  column-gap: 20px;
  justify-content: center;
}

@media (max-width: 768px) {
  .accordion {
    flex-direction: column;
    row-gap: 25px;
  }
}