.instructions .content-block .instructions__text {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.instructions .content-block .instructions__text h4 {
  margin-bottom: 16px;
}
.instructions .content-block .instructions__img {
  flex-basis: 50%;
}
.instructions .content-block .instructions__img img {
  width: 100%;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .instructions .container .content-block {
    flex-direction: column-reverse;
    margin-bottom: 24px;
    row-gap: 0;
  }
  .instructions .container .content-block .instructions__text {
    text-align: left;
  }
  .instructions .container .content-block .instructions__text h4 {
    margin-bottom: 0;
  }
  .instructions .container .content-block .instructions__text p {
    font-size: 14px;
  }
}