* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Vultura";
  src: url(../Fonts/Vultura-Regular.otf);
}
@font-face {
  font-family: "Helvetica Neue";
  src: url(../Fonts/HelveticaNeue.ttf);
}
body {
  color: #ffffff;
  font-family: "Helvetica Neue", serif;
}

section {
  padding: 60px 15px;
}

.container {
  max-width: 1192px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: "Vultura";
  font-weight: 400;
}

h1, h2 {
  font-size: 56px;
  line-height: 56px;
  margin-bottom: 30px;
}

h3 {
  text-align: center;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 40px;
}

h4, h5, h6 {
  font-family: "Helvetica Neue", serif;
  font-weight: 700;
  line-height: 60px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 18px;
}

.black-bg {
  background-color: #1C1C1C;
}

.gray-bg {
  background-color: #272727;
}

.line {
  position: relative;
  z-index: 3;
  display: block;
  width: 100%;
  height: 1px;
  background: #383838;
}

.content-block {
  display: flex;
  column-gap: 20px;
}

.content-block_reverse {
  flex-direction: row-reverse;
}

.text-block-with-bg {
  width: 100%;
  padding: 25px;
  background: #5F7B87;
  border-radius: 8px;
}

.text-with-image-section .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 100px;
}
.text-with-image-section .content-wrapper .text-with-image-section__text {
  flex-shrink: 1.5;
}
.text-with-image-section .content-wrapper .text-with-image-section__text h2 {
  margin-bottom: 32px;
}
.text-with-image-section .content-wrapper .text-with-image-section__text p {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 24px;
}
.text-with-image-section .content-wrapper .text-with-image-section__text .bold-text {
  font-weight: 700;
}
.text-with-image-section .content-wrapper .text-with-image-section__text img {
  display: none;
}
.text-with-image-section .content-wrapper .text-with-image-section__image {
  max-width: 487px;
}
.text-with-image-section .content-wrapper .text-with-image-section__image img {
  border-radius: 10px;
  width: 100%;
}

@media (max-width: 768px) {
  .text-with-image-section .content-wrapper .text-with-image-section__text p {
    font-size: 14px;
  }
  .text-with-image-section .content-wrapper .text-with-image-section__text img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    width: 100%;
    max-width: 487px;
    margin-bottom: 24px;
  }
  .text-with-image-section .content-wrapper .text-with-image-section__image {
    display: none;
  }
}
.results .content-block .result-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.results .content-block .result-block .results__number {
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  left: 24px;
  height: 53px;
  width: 53px;
  border-radius: 100%;
  background: #272727;
}
.results .content-block .result-block .results__img {
  width: 100%;
  margin-bottom: 8px;
}
.results .content-block .result-block .results__img img {
  width: 100%;
  border-radius: 8px;
}
.results .content-block .result-block .results__text {
  flex-grow: 1;
}
.results .content-block .result-block .results__text p {
  line-height: 24px;
}

.three-img-section .content-block .three-img-section__img {
  width: 100%;
}
.three-img-section .content-block .three-img-section__img img {
  width: 100%;
  border-radius: 8px;
}

.ingredients p {
  font-size: 14px;
  line-height: 24px;
}
.ingredients .content-block .ingredient-block {
  width: 100%;
}
.ingredients .content-block_mb60 {
  margin-bottom: 60px;
}
.ingredients .ingredients-text-block h5 {
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .ingredients .container .content-block .ingredient-block .header-wrapper {
    display: flex;
    column-gap: 16px;
    margin-bottom: 10px;
  }
}
.instructions .content-block .instructions__text {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.instructions .content-block .instructions__text h4 {
  margin-bottom: 16px;
}
.instructions .content-block .instructions__img {
  flex-basis: 50%;
}
.instructions .content-block .instructions__img img {
  width: 100%;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .instructions .container .content-block {
    flex-direction: column-reverse;
    margin-bottom: 24px;
    row-gap: 0;
  }
  .instructions .container .content-block .instructions__text {
    text-align: left;
  }
  .instructions .container .content-block .instructions__text h4 {
    margin-bottom: 0;
  }
  .instructions .container .content-block .instructions__text p {
    font-size: 14px;
  }
}
.footer {
  padding: 60px 15px;
}
.footer .accordion {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
}
.footer .accordion .accordion-item {
  width: 100%;
}
.footer .accordion .accordion-item .accordion-item__trigger {
  padding-bottom: 15px;
  border-bottom: 1px solid #383838;
  display: flex;
  justify-content: space-between;
}
.footer .accordion .accordion-item .accordion-item__trigger .accordion-item__header {
  font-size: 14px;
  font-weight: 400;
}
.footer .accordion .accordion-item .accordion-item__trigger .plus {
  transition: all 0.2s;
  display: inline-block;
  width: 2px;
  height: 15px;
  background-color: #fff;
  margin-right: -1px;
}
.footer .accordion .accordion-item .accordion-item__trigger .minus {
  display: inline-block;
  width: 16px;
  height: 2px;
  background-color: #fff;
  margin: 0 0 6px -13px;
}
.footer .accordion .accordion-item .accordion-item__content {
  display: none;
}
.footer .accordion .accordion-item .accordion-item__content .accordion-item__list {
  font-size: 14px;
  color: #fff;
  text-decoration: underline;
}
.footer .accordion .accordion-item .accordion-item__content .accordion-item__list li {
  list-style-type: none;
  margin-top: 20px;
}
.footer .accordion .accordion-item--active .accordion-item__trigger .plus {
  transition: all 0.2s;
  height: 2px;
  margin: 0 0 6px -13px;
}
.footer .accordion .accordion-item--active .accordion-item__content {
  display: block;
}
.footer .social-media {
  margin-top: 60px;
  display: flex;
  column-gap: 20px;
  justify-content: center;
}

@media (max-width: 768px) {
  .accordion {
    flex-direction: column;
    row-gap: 25px;
  }
}
header {
  position: relative;
  z-index: 2;
}
header .header-wrapper {
  position: relative;
  padding: 0 15px;
  display: flex;
  align-items: center;
}
header .header-wrapper .navigation {
  flex: 1 1 0px;
}
header .header-wrapper .navigation ul {
  display: flex;
  column-gap: 40px;
}
header .header-wrapper .navigation ul li {
  list-style: none;
}
header .header-wrapper .navigation ul .current {
  font-weight: 700;
}
header .header-wrapper .burger-menu {
  flex: 1 1 0px;
  display: none;
  flex-direction: column;
  row-gap: 5px;
}
header .header-wrapper .burger-menu span {
  display: block;
  width: 22px;
  height: 3px;
  background-color: #272727;
  border-radius: 3px;
}
header .header-wrapper .logo {
  text-align: center;
  flex: 1 1 0px;
  margin: 25px 0;
}
header .header-wrapper .buttons {
  text-align: right;
  flex: 1 1 0px;
}
header .header-wrapper .buttons a {
  padding: 10px;
  text-decoration: none;
}

@media (max-width: 768px) {
  header {
    background-color: rgba(255, 255, 255, 0) !important;
  }
  header .header-wrapper .navigation {
    position: absolute;
    background-color: #272727;
    opacity: 0.97;
    left: -100%;
    top: 0;
    width: 90vw;
    height: 100vh;
    transition: all 0.3s;
  }
  header .header-wrapper .navigation ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .header-wrapper .navigation ul li {
    margin-top: 60px;
    padding: 20px;
  }
  header .header-wrapper .navigation-active {
    left: 0;
    transition: all 0.3s;
  }
  header .header-wrapper .logo svg {
    width: 94px;
    height: 20px;
  }
  header .header-wrapper .logo svg path {
    fill: #272727;
  }
  header .header-wrapper .burger-menu {
    display: flex;
  }
  header .header-wrapper .buttons path {
    fill: #272727;
  }
}
.section-with-slider-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  column-gap: 60px;
}
.section-with-slider-wrapper .slider {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: 12px;
}
.section-with-slider-wrapper .slider .slider-for {
  max-height: 650px;
  min-width: 0;
  width: 100%;
}
.section-with-slider-wrapper .slider .slider-for img {
  height: 100%;
  width: 100%;
  border-radius: 12px;
}
.section-with-slider-wrapper .slider .slider-nav {
  max-width: 86px;
  min-width: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 24px;
}
.section-with-slider-wrapper .slider .slider-nav .slider__item {
  overflow: hidden;
  height: 115px;
  width: 86px;
}
.section-with-slider-wrapper .slider .slider-nav .slider__item img {
  object-fit: cover;
  width: 100%;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.section-with-slider-wrapper .slider .slider-nav .slick-arrow {
  font-size: 0;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #fff;
}
.section-with-slider-wrapper .slider .slider-nav .slick-arrow:hover {
  cursor: pointer;
  background-color: #6e6e6e;
}
.section-with-slider-wrapper .slider .slider-nav .slick-prev {
  background: url(../img/arrow-up.png) 0 0 no-repeat;
  background-position: center;
}
.section-with-slider-wrapper .slider .slider-nav .slick-next {
  background: url(../img/arrow-down.png) 0 0 no-repeat;
  background-position: center;
}
.section-with-slider-wrapper .section-with-slider__text .header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-with-slider-wrapper .section-with-slider__text .header-wrapper h1, .section-with-slider-wrapper .section-with-slider__text .header-wrapper .yellow-bg-text {
  margin-bottom: 25px;
}
.section-with-slider-wrapper .section-with-slider__text .header-wrapper .yellow-bg-text {
  padding: 1px 6px;
  color: #272727;
  font-size: 12px;
  background: #E3BA95;
  border-radius: 2px;
}
.section-with-slider-wrapper .section-with-slider__text .price-and-rating {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 25px;
}
.section-with-slider-wrapper .section-with-slider__text .price-and-rating .price {
  font-size: 30px;
}
.section-with-slider-wrapper .section-with-slider__text .price-and-rating .price span {
  font-size: 18px;
  color: #828282;
  text-decoration: line-through;
}
.section-with-slider-wrapper .section-with-slider__text .price-and-rating .rating {
  column-gap: 10px;
  display: flex;
}
.section-with-slider-wrapper .section-with-slider__text .price-and-rating .rating .rating-text span {
  font-weight: 700;
  font-size: 18px;
}
.section-with-slider-wrapper .section-with-slider__text .text {
  color: #FFFFFF;
  opacity: 0.8;
  margin-bottom: 15px;
}
.section-with-slider-wrapper .section-with-slider__text .bold-text {
  opacity: 1;
  font-weight: 700;
  margin-bottom: 25px;
}
.section-with-slider-wrapper .section-with-slider__text .buttons-block {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.section-with-slider-wrapper .section-with-slider__text .buttons-block .button {
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  width: 100%;
  height: 56px;
  border-radius: 4px;
}
.section-with-slider-wrapper .section-with-slider__text .buttons-block .buy-button {
  border: 1.2px solid #FFFFFF;
  opacity: 0.8;
  background-color: #272727;
}
.section-with-slider-wrapper .section-with-slider__text .buttons-block .buy-button:hover {
  background: #5F7B87;
  opacity: 1;
}
.section-with-slider-wrapper .section-with-slider__text .buttons-block .add-to-cart-button {
  background-color: #FF9900;
  margin-top: 8px;
}

@media (max-width: 768px) {
  .section-with-slider {
    padding: 0;
  }
  .section-with-slider .section-with-slider-wrapper {
    margin-top: -74px;
    padding: 0 0 60px 0;
    flex-direction: column;
  }
  .section-with-slider .section-with-slider-wrapper .slider {
    width: 100%;
  }
  .section-with-slider .section-with-slider-wrapper .slider .slider-for img {
    border-radius: 0;
  }
  .section-with-slider .section-with-slider-wrapper .slider .slider-for .slick-arrow {
    z-index: 10;
    position: absolute;
    top: 50%;
    font-size: 0;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 1px solid #272727;
  }
  .section-with-slider .section-with-slider-wrapper .slider .slider-for .slick-prev {
    background: url(../img/arrow-left.svg) 0 0 no-repeat;
    background-position: center;
    left: 15px;
  }
  .section-with-slider .section-with-slider-wrapper .slider .slider-for .slick-next {
    background: url(../img/arrow-right.svg) 0 0 no-repeat;
    background-position: center;
    right: 15px;
  }
  .section-with-slider .section-with-slider-wrapper .slider .slider-nav {
    display: none;
  }
  .section-with-slider .section-with-slider-wrapper .section-with-slider__text {
    position: relative;
    z-index: 5;
    padding: 24px 16px;
    background: #272727;
    border: 1.4px solid #383838;
    border-radius: 8px;
    margin: 0 15px;
    margin-top: -90px;
  }
  .section-with-slider .section-with-slider-wrapper .section-with-slider__text .header-wrapper .yellow-bg-text {
    display: none;
  }
  .section-with-slider .section-with-slider-wrapper .section-with-slider__text .price-and-rating .price {
    font-size: 24px;
  }
  .section-with-slider .section-with-slider-wrapper .section-with-slider__text .price-and-rating .price span {
    font-size: 16px;
  }
  .section-with-slider .section-with-slider-wrapper .section-with-slider__text .price-and-rating .rating {
    flex-direction: column;
  }
  .section-with-slider .section-with-slider-wrapper .section-with-slider__text .price-and-rating .rating .rating-text span {
    font-size: 16px;
  }
  .section-with-slider .section-with-slider-wrapper .section-with-slider__text .text {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  section {
    padding: 40px 15px;
  }

  h1, h2 {
    font-size: 40px;
    line-height: 44px;
    text-align: center;
  }

  h3 {
    font-size: 24px;
  }

  h4, h5 {
    font-size: 22px;
  }

  h6 {
    font-size: 16px;
  }

  .content-block {
    flex-direction: column;
    row-gap: 24px;
  }
}