.text-with-image-section .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 100px;
}
.text-with-image-section .content-wrapper .text-with-image-section__text {
  flex-shrink: 1.5;
}
.text-with-image-section .content-wrapper .text-with-image-section__text h2 {
  margin-bottom: 32px;
}
.text-with-image-section .content-wrapper .text-with-image-section__text p {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 24px;
}
.text-with-image-section .content-wrapper .text-with-image-section__text .bold-text {
  font-weight: 700;
}
.text-with-image-section .content-wrapper .text-with-image-section__text img {
  display: none;
}
.text-with-image-section .content-wrapper .text-with-image-section__image {
  max-width: 487px;
}
.text-with-image-section .content-wrapper .text-with-image-section__image img {
  border-radius: 10px;
  width: 100%;
}