.ingredients{

    p{
        font-size: 14px;
        line-height: 24px;  
    }

    .content-block{

        .ingredient-block{
            width: 100%;
        }
    }
    
    .content-block_mb60{
        margin-bottom: 60px;
    }
    
    .ingredients-text-block{
    
        h5{
            text-transform: uppercase;
        }
    }
}