.instructions{
    
    .content-block{

        .instructions__text{
            flex-basis: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            h4{
                margin-bottom: 16px;
            }
        }

        .instructions__img{
            flex-basis: 50%;

            img{
                width: 100%;
                border-radius: 8px;
            }
        }
    }
}